<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.funstream.mapper.UserInfoMapper">
	<insert id="registUserInfo"
		parameterType="com.itwill.funstream.domain.UserInfo">
		INSERT INTO USERINFO VALUES
		(USERINFO_USER_NO_SEQ.nextval, #{user_id}, #{user_password},
		#{user_phone})
	</insert>

	<update id="updateUserInfo"
		parameterType="com.itwill.funstream.domain.UserInfo">
		UPDATE userinfo SET
		user_password = #{user_password} ,
		user_phone = #{user_phone}
		where
		user_no = #{user_no}
	</update>

	<delete id="unregistUserInfo" parameterType="int">
		DELETE FROM userinfo
		WHERE user_no = #{user_no}
	</delete>

	<select id="findUserInfobyUserId" parameterType="string"
		resultType="com.itwill.funstream.domain.UserInfo">
		SELECT * from userInfo where user_id = #{user_id}
	</select>
	
	<select id="findUserInfobyUserNo" parameterType="int"
		resultType="com.itwill.funstream.domain.UserInfo">
		SELECT * from userInfo where user_no = #{user_no}
	</select>

	<select id="existenceCheckUserId" parameterType="string"
		resultType="int">
		SELECT count(*) from userinfo where user_id = #{user_id}
	</select>
</mapper>