<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="keywords"
	content="Streamlab - Video Streaming HTML5 Template" />
<meta name="description"
	content="Streamlab - Video Streaming HTML5 Template" />
<meta name="author" content="StreamLab" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Streamlab - Video Streaming HTML5 Template</title>
<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.png">
<!-- CSS bootstrap-->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<!--  Style -->
<link rel="stylesheet" href="css/style.css" />
<!--  Responsive -->
<link rel="stylesheet" href="css/responsive.css" />
</head>

<body>

	<!--=========== Loader =============-->
	<div id="gen-loading">
		<div id="gen-loading-center">
			<img src="images/logo-1.png" alt="loading">
		</div>
	</div>
	<!--=========== Loader =============-->

	<!--========== Header ==============-->
	<div th:include="include_common::top"></div>
	<!--========== Header ==============-->

	<!-- register -->
	<section class="position-relative pb-0">
		<!-- <div class="gen-register-page-background"
			style="background-image: url('images/background/asset-3.jpeg');"> 
		</div> -->
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="text-center">
						<form id="pms_register-form" name="userRegisterForm"
							class="pms-form" method="post" action="user_regist_action">
							<h4>회원가입</h4>
							<input type="hidden" id="pmstkn" name="pmstkn" value="59b502f483"><input
								type="hidden" name="_wp_http_referer" value="/register/">
							<ul class="pms-form-fields-wrapper pl-0">
								<li class="pms-field pms-user-login-field "><label
									for="pms_user_login">아이디</label> <input id="pms_user_login"
									name="user_id" type="text" value=""></li>
								<li class="pms-field pms-user-email-field "><label
									for="pms_user_email">전화번호</label> <input id="pms_user_email"
									name="user_phone" type="text" value=""></li>
								<li class="pms-field pms-pass1-field"><label
									for="pms_pass1">비밀번호</label> <input id="pms_pass1"
									name="user_password" type="password"></li>
								<li class="pms-field pms-pass2-field"><label
									for="pms_pass2">비밀번호 확인</label> <input id="pms_pass2"
									name="user_repeat_password" type="password"></li>
							</ul>
							<span id="pms-submit-button-loading-placeholder-text"
								class="d-none">Processing. Please wait...</span> <input
								name="pms_register" type="button" value="회원가입"
								onclick="user_register_check()">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- register -->

	<!-- footer start -->
	<div th:include="include_common::bottom"></div>
	<!-- footer End -->

	<!-- Back-to-Top start -->
	<div id="back-to-top">
		<a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i>
		</a>
	</div>
	<!-- Back-to-Top end -->

	<!-- js-min -->
	<script src="js/jquery-3.6.0.min.js"></script>
	<script src="js/asyncloader.min.js"></script>
	<!-- JS bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- owl-carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- counter-js -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<!-- popper-js -->
	<script src="js/popper.min.js"></script>
	<script src="js/swiper-bundle.min.js"></script>
	<!-- Iscotop -->
	<script src="js/isotope.pkgd.min.js"></script>

	<script src="js/jquery.magnific-popup.min.js"></script>

	<script src="js/slick.min.js"></script>

	<script src="js/streamlab-core.js"></script>

	<script src="js/script.js"></script>

	<script type="text/javascript">
		function user_register_check() {
			var email_check = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
			var phone_check = /^(01[016789])[-](\d{4}|\d{3})[-]\d{4}$/g;

			if (document.userRegisterForm.user_id.value == "") {
				alert("아이디를 입력해주세요");
				document.userRegisterForm.user_id.focus();
				return false;
			}

			if (!email_check.test(document.userRegisterForm.user_id.value)) {
				alert("이메일주소의 형식이 맞지 않습니다");
				document.userRegisterForm.user_id.focus();
				return false;
			}

			if (document.userRegisterForm.user_phone.value == "") {
				alert("전화번호를 입력해주세요");
				document.userRegisterForm.user_phone.focus();
				return false;
			}

			if (!phone_check.test(document.userRegisterForm.user_phone.value)) {
				alert("전화번호의 형식이 맞지 않습니다");
				document.userRegisterForm.user_phone.focus();
				return false;
			}

			if (document.userRegisterForm.user_password.value == "") {
				alert("비밀번호를 입력해주세요");
				document.userRegisterForm.user_password.focus();
				return false;
			}

			if (document.userRegisterForm.user_password.value != document.userRegisterForm.user_repeat_password.value) {
				alert("비밀번호가 일치하지 않습니다");
				document.userRegisterForm.user_password.focus();
				document.userRegisterForm.user_password.select();
				return false;
			}
			document.userRegisterForm.action;
			document.userRegisterForm.method;
			document.userRegisterForm.submit();

		}
	</script>
</body>

</html>